@model List<E_Commerce.Entities.Category>
@{
    ViewBag.Title = "CategoryTable";
}

<link href="~/Content/DataTables/DataTables-1.10.18/css/jquery.dataTables.css" rel="stylesheet" />
<script src="~/Content/DataTables/DataTables-1.10.18/js/jquery.dataTables.js"></script>
<script src="~/Content/DataTables/DataTables-1.10.18/js/Bootstrap-3-Typeahead.js"></script>

<div class="container">

    <button id="newBtn" class="btn btn-success">New Categoty</button>
</div>
<hr />
<div>
    <table id="CategoryTable" class="table table-hover">
        <thead>
            <tr>
                <td>Name</td>
                <td>Items</td>
                <td>View</td>
                <td>Image</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>

            @foreach (var category in Model)
            {
            <tr>
                <td>@category.Name</td>
                <td>@category.Products.Count</td>
                @{
                    String show = category.isFeatured == true ? "Live" : "Hide";
                }
                <td>@show</td>
                <td> <img src="@category.ImageURL" height="50" width="75" /></td>

                <td>
                    <button class="editBtn btn btn-success" data-id="@category.ID">Edit</button>
                    <button class="deleteBtn btn btn-danger" data-id="@category.ID">Delete</button>
                </td>
            </tr>

            }


        </tbody>
    </table>
</div>
<script>

   $(document).ready(function() {
   var dataSrc = [];

   var table = $('#CategoryTable').DataTable({
      'initComplete': function(){
         var api = this.api();

         // Populate a dataset for autocomplete functionality
         // using data from first, second and third columns // api.cells('tr', [0, 1, 2])
         api.cells('tr', [0]).every(function(){
            // Get cell data as plain text
            var data = $('<div>').html(this.data()).text();           
            if(dataSrc.indexOf(data) === -1){ dataSrc.push(data); }
         });
         
         // Sort dataset alphabetically
         dataSrc.sort();
        
         // Initialize Typeahead plug-in
         $('.dataTables_filter input[type="search"]', api.table().container())
            .typeahead({
               source: dataSrc,
               afterSelect: function(value){
                  api.search(value).draw();
               }
            }
         );
      }
   });
});

    
    $("#newBtn").click(function () {

        $.ajax({
            type: "GET",
            url: "/Category/Create",

        })
            .done(function (response) {
                $("#actionContainer").html(response);
                focusAction("actionContainer");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });


    });

    $(".editBtn").click(function () {

        $.ajax({
            type: "GET",
            url: "/Category/Edit",
            data: {
                ID: $(this).attr('data-id')
            }

        })
            .done(function (response) {
                $("#actionContainer").html(response);
                focusAction("actionContainer");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });


    });

    $(".deleteBtn").click(function () {
        var confirmDelete = confirm("Are you sure?");
        if (confirmDelete) {

            $.ajax({
                type: "POST",
                url: "/Category/Delete",
                data: {
                    ID: $(this).attr('data-id')
                }

            })
                .done(function (response) {
                    $("#categoryTableContainer").html(response);
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Fail");
                });



        }
    });


</script>
