@model EcommerceApplication.ViweModels.EditCategoryViewModel
@{
	ViewBag.Title = "Edit";
	var trueChecked = Model.isFeatured ? "checked" : string.Empty;
	var falseChecked = !Model.isFeatured ? "checked" : string.Empty;

	//if (Model.isFeatured == true)
	//{
	//    var trueChecked = "checked";

	//}
	//else
	//{
	//    var trueChecked = "";
	//}

	//if (Model.isFeatured == false)
	//{
	//    var falseChecked = "checked";

	//}
	//else
	//{
	//    var falseChecked = "";
	//}

	var imageURL = !string.IsNullOrEmpty(Model.ImageURL) ? Model.ImageURL : "/Content/images/system/placeholder-image.png";
}
<h2>Edit Category</h2>
<form id="editCategory">
	<input type="hidden" name="ID" value="@Model.ID" />

	<div class="row">
		<div class="col-md-8">
			<div class="form-group">
				<label>Name</label>
				<input class="form-control" name="Name" value="@Model.Name" />
			</div>
			<div class="form-group">
				<label>Description</label>
				<input class="form-control" name="Description" value="@Model.Description" />
			</div>
			<div class="form-group">
				<label>Image</label>
				<input type="hidden" id="ImageURL" name="ImageURL" value="@Model.ImageURL" />
				<input class="form-control" id="imageUpload" name="Image" type="file" accept=".png, .jpg" />
			</div>
			<div class="form-group">
				<label>Showing</label>
				<div class="input-group">
					<div class="radio form-control">
						<label><input name="isFeatured" type="radio" value="True" @trueChecked /> Live</label>
					</div>
					<div class="radio form-control">
						<label><input name="isFeatured" type="radio" value="False" @falseChecked /> Hide</label>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumb">
				<img src="@imageURL" class="img-thumbnail img-fluid" id="categoryImage" />
			</div>
		</div>
	</div>

	<button id="cat_UpdateBtn" type="button" class="btn btn-primary">Update</button>
	<button id="cat_CancelBtn" type="button" class="btn btn-primary">Cancel</button>
</form>