@model E_Commerce.Web.ViewModels.EditProductViewModel

@{
    
}
    <style>
        .required {
            color: red;
        }
    </style>
<form id="editProduct">
    <div class="row">
        <div class="col-md-8">
            <input type="hidden" name="ID" id="ID" value="@Model.ID" />

            <div class="form-group">
                <label>Name<span class="required">*</span></label>
                <input class="form-control" name="Name" id="Name" value="@Model.Name" />
                <p id="nameErroeMessage"></p>
            </div>
            <div class="form-group">
                <label>Weight<span class="required">*</span></label>
                <input class="form-control" name="Weight" id="Weight" value="@Model.Weight" />
                <p id="weightErroeMessage"></p>
            </div>
            <div class="form-group">
                <label>Unit<span class="required">*</span></label>
                <input class="form-control" name="Unit" id="Unit" value="@Model.Unit" />
                <p id="unitErroeMessage"></p>
            </div>
            <div class="form-group">
                <label>Price/Unit<span class="required">*</span></label>
                <input class="form-control" name="Price" id="Price" value="@Model.Price" />
                <p id="priceErroeMessage"></p>
            </div>

            <div class="form-group">
                <label>Description<span class="required">*</span></label>
                <textarea class="form-control" name="Description" id="Description">@Model.Description</textarea>
                <p id="descriptionErroeMessage"></p>
            </div>


            <div class="form-group">
                <label>Image</label>
                <input type="hidden" id="ImageURL" name="ImageURL" value="@Model.ImageURL" />
                <input class="form-control" id="imageUpload" name="Image" type="file" accept=".png, .jpg" />
            </div>

            <div class="thumb col-md-4">
                <img src="@Model.ImageURL" class="img-thumbnail img-fluid" id="productImage" />
            </div>

            <div class="form-group">
                <label>Image2</label>
                <input type="hidden" id="ImageURL2" name="ImageURL2" value="@Model.ImageURL2" />
                <input class="form-control" id="imageUpload2" name="Image2" type="file" accept=".png, .jpg" />
            </div>

            <div class="thumb col-md-4">
                <img src="@Model.ImageURL2" class="img-thumbnail img-fluid" id="productImage2" />
            </div>


            <div class="form-group">
                <label>Image3</label>
                <input type="hidden" id="ImageURL3" name="ImageURL3" value="@Model.ImageURL3" />
                <input class="form-control" id="imageUpload3" name="Image3" type="file" accept=".png, .jpg" />
            </div>

            <div class="thumb col-md-4">
                <img src="@Model.ImageURL3" class="img-thumbnail img-fluid" id="productImage3" />
            </div>


            <div class="form-group">
                <label>Image4</label>
                <input type="hidden" id="ImageURL4" name="ImageURL4" value="@Model.ImageURL4" />
                <input class="form-control" id="imageUpload4" name="Image4" type="file" accept=".png, .jpg" />
            </div>

            <div class="thumb col-md-4">
                <img src="@Model.ImageURL4" class="img-thumbnail img-fluid" id="productImage4" />
            </div>

            <button type="button" class="btn btn-primary" id="updateBtn" onclick="return validateForm();">Update</button>
            <button type="button" class="btn btn-danger" id="cancelBtn">Cancel</button>
        </div>

        @*<div class="col-md-4">
            <div class="thumb">
                <img src="@Model.ImageURL" class="img-thumbnail img-fluid" id="productImage" />
            </div>
        </div>*@

        
    </div>

</form>

<script>
    function validateForm() {

        var name = document.getElementById("Name").value;
        var price = document.getElementById("Price").value;
        var weight= document.getElementById("Weight").value;
        var unit = document.getElementById("Unit").value;
        var description = document.getElementById("Description").value;


         if (name == "") {

            document.getElementById("nameErroeMessage").innerHTML = "Name must be filled out";
            document.getElementById("nameErroeMessage").style.color = "red";

        }
       else if (price == "") {

            document.getElementById("priceErroeMessage").innerHTML = "Price must be filled out";
            document.getElementById("priceErroeMessage").style.color = "red";

         }
       else if (weight == "") {

            document.getElementById("weightErroeMessage").innerHTML = "Weight must be filled out";
            document.getElementById("weightErroeMessage").style.color = "red";

        }
       else if (unit == "") {

            document.getElementById("unitErroeMessage").innerHTML = "Unit must be filled out";
            document.getElementById("unitErroeMessage").style.color = "red";

        }
       else if (description == "") {

            document.getElementById("descriptionErroeMessage").innerHTML = "Description must be filled out";
            document.getElementById("descriptionErroeMessage").style.color = "red";

        }

        else {
            $.ajax({
            type: 'POST',
            url: '/Product/Edit',
            data: $("#editProduct").serialize()

            })
            .done(function (response) {
                $("#tableContainer").html(response);
                $("#actionContainer").html("");

                swal("Record updated Successfully.", {
                                icon: "success",
                            });
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });


        }
    }

    $("#imageUpload").change(function () {
		var element = this;

		var formData = new FormData();

		var totalFiles = element.files.length;

		for (var i = 0; i < totalFiles; i++) {
			var file = element.files[i];
			formData.append("Photo", file);
		}

		$.ajax({
			type: 'POST',
			url: '@Url.Action("UploadImage", "Shared")',
			dataType: 'json',
			data: formData,
			contentType: false,
			processData: false
		})
        .done(function (response) {
        	console.log(response);

        	if (response.Success) {
        		$("#ImageURL").val(response.ImageURL);
        		$("#productImage").attr("src", response.ImageURL);
        	}
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	alert("FAIL");
        });
	});
    $("#imageUpload2").change(function () {
        var element = this;

		var formData = new FormData();

		var totalFiles = element.files.length;

		for (var i = 0; i < totalFiles; i++) {
			var file = element.files[i];
			formData.append("Photo", file);
        }

        $.ajax({
			    type: 'POST',
			    url: '@Url.Action("UploadImage", "Shared")',
			    dataType: 'json',
			    data: formData,
			    contentType: false,
			    processData: false
		    })
            .done(function (response) {
        	    //console.log(response);

        	    if(response.Success)
        	    {
        		    $("#ImageURL2").val(response.ImageURL);
        		    $("#productImage2").attr("src", response.ImageURL);
        	    }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	    alert("FAIL");
            });



     });
    $("#imageUpload3").change(function () {
        var element = this;

		var formData = new FormData();

		var totalFiles = element.files.length;

		for (var i = 0; i < totalFiles; i++) {
			var file = element.files[i];
			formData.append("Photo", file);
        }

        $.ajax({
			    type: 'POST',
			    url: '@Url.Action("UploadImage", "Shared")',
			    dataType: 'json',
			    data: formData,
			    contentType: false,
			    processData: false
		    })
            .done(function (response) {
        	    //console.log(response);

        	    if(response.Success)
        	    {
        		    $("#ImageURL3").val(response.ImageURL);
        		    $("#productImage3").attr("src", response.ImageURL);
        	    }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	    alert("FAIL");
            });



    });
    $("#imageUpload4").change(function () {
        var element = this;

		var formData = new FormData();

		var totalFiles = element.files.length;

		for (var i = 0; i < totalFiles; i++) {
			var file = element.files[i];
			formData.append("Photo", file);
        }

        $.ajax({
			    type: 'POST',
			    url: '@Url.Action("UploadImage", "Shared")',
			    dataType: 'json',
			    data: formData,
			    contentType: false,
			    processData: false
		    })
            .done(function (response) {
        	    //console.log(response);

        	    if(response.Success)
        	    {
        		    $("#ImageURL4").val(response.ImageURL);
        		    $("#productImage4").attr("src", response.ImageURL);
        	    }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	    alert("FAIL");
            });



    });

    $("#cancelBtn").click(function () {
        $("#actionContainer").html("");
         focusAction("tableContainer");
    });
</script>