@model E_Commerce.Web.ViewModels.ProductDetailModel


@if (Model != null && Model.Product != null)
{

    <!-- Page title -->
    <div class="page-title parallax parallax1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title-heading">
                        <h2 class="title">
                           Details
                        </h2>
                        <h3>
                            <a href="@Url.Action("Index", "Home")">Home ></a>
                            <a href="@Url.Action("Index", "Shop")">All Product ></a>
                            <a href="@Url.Action("Index","Shop",new { categoryID=Model.Product.Category.ID})" >@Model.Product.Category.Name ></a>
                            <a> @Model.Product.Name </a>
                        </h3>
                    </div><!-- /.page-title-heading -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.page-title -->

    <section class="flat-row main-shop shop-detail">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <div class="wrap-flexslider">
                        <div class="inner">
                            <div class="flexslider style-1 has-relative">
                                <ul class="slides">
                                    <li data-thumb="@Model.Product.ImageURL">
                                        <img src="@Model.Product.ImageURL" alt="Image">
                                        <input type="hidden" id="productImg" value="@Model.Product.ImageURL" />
                                        <input type="hidden" id="productName" value=" @Model.Product.Name" />
                                        @*<input type="hidden" id="productLat" value=" @Model.Product.latitude" />
                                        <input type="hidden" id="productLng" value=" @Model.Product.longitude" />*@

                                        <div class="flat-icon style-1">
                                            <a href="@Model.Product.ImageURL" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
                                        </div>
                                    </li>
                                    @*<li data-thumb="images/shop/sh-detail/thumb-detail-02.jpg">
                                            <img src="images/shop/sh-detail/detail-01.jpg" alt="Image">
                                            <div class="flat-icon style-1">
                                                <a href="images/shop/sh-detail/detail-01.jpg" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
                                            </div>
                                        </li>
                                        <li data-thumb="images/shop/sh-detail/thumb-detail-03.jpg">
                                            <img src="images/shop/sh-detail/detail-01.jpg" alt="Image">
                                            <div class="flat-icon style-1">
                                                <a href="images/shop/sh-detail/detail-01.jpg" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
                                            </div>
                                        </li>
                                        <li data-thumb="images/shop/sh-detail/thumb-detail-04.jpg">
                                            <img src="images/shop/sh-detail/detail-01.jpg" alt="Image">
                                            <div class="flat-icon style-1">
                                                <a href="images/shop/sh-detail/detail-01.jpg" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
                                            </div>
                                        </li>*@
                                </ul>
                            </div><!-- /.flexslider -->
                        </div>
                    </div>
                </div><!-- /.col-md-6 -->

                <div class="col-md-6">
                    <div class="product-detail">
                        <div class="inner">
                            <div class="content-detail">

                                <h2 class="product-title">
                                    @Model.Product.Name

                                </h2>

                                @*<p>
                                        @Model.Product.Description
                                    </p>*@
                                <div class="price">
                                    <ins>
                                        <span class="amount">
                                            BDT @Model.Product.Price
                                        </span>
                                    </ins>
                                </div>
                                <div>
                                    <input type="hidden" id="unit" value="@Model.Product.Unit" />
                                    <span>Available item: @Model.Product.Unit </span>
                                </div>
                                <div class="product-quantity">
                                    <div class="quantity">
                                        <input type="text" value="1" name="quantity-number" id="quantity" class="quantity-number">
                                        <span class="inc quantity-button">+</span>
                                        <span class="dec quantity-button">-</span>


                                    </div>
                                    <div class="add-to-cart multiProductAddTocart" data-id="@Model.Product.ID">
                                        <a href="#">ADD TO CART</a>
                                    </div>
                                    @*<button onclick="func();">shoe</button>*@
                                    @*<div class="box-like">

                                        <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                                    </div>*@
                                </div>
                                <div class="product-categories">
                                    <span>Categories: </span><a href="#">@Model.Product.Category.Name</a>
                                </div>

                            </div>
                        </div>
                    </div><!-- /.product-detail -->
                </div>

            </div><!-- /.row -->
            @*<div class="col-md-12">
               
                <div class="flat-map" id="mapArea"></div>
            </div>*@
        </div><!-- /.container -->
    </section><!-- /.flat-row -->



    <section class="flat-row shop-detail-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="flat-tabs style-1 has-border">
                        <div class="inner">
                            <ul class="menu-tab">
                                <li class="active">Description</li>
                                <li>Additional information</li>
                                <li>Reviews</li>
                            </ul>
                            <div class="content-tab">
                                <div class="content-inner">
                                    @*Description*@
                                <div class="flat-grid-box col2 border-width border-width-1 has-padding clearfix">
                                    <p>
                                        @Model.Product.Description
                                    </p>
                                </div><!-- /.flat-grid-box -->
                            </div><!-- /.content-inner -->
                            <div class="content-inner">
                                @*Additional information*@
                            <div class="inner max-width-40">
                                <table>
                                    <tr>
                                        <td>Weight</td>
                                        <td>1.73 kg</td>
                                    </tr>
                                    <tr>
                                        <td>Dimensions</td>
                                        <td>100 x 37 x 100 cm</td>
                                    </tr>
                                    <tr>
                                        <td>Materials</td>
                                        <td>80% cotton, 20% linen</td>
                                    </tr>
                                    <tr>
                                        <td>Size</td>
                                        <td>One Size, XL, L, M, S</td>
                                    </tr>
                                </table>
                            </div>
                        </div><!-- /.content-inner -->
                        <div id="reviews" class="content-inner">
                           
                        <div class="inner max-width-83 padding-top-33">
                            <ol class="review-list">
                                @if (Model.Reviews != null)
                                {
                                    foreach (var review in Model.Reviews)
                                    {
                                        <li class="review">
                                           
                                            <div class="text-wrap">
                                                <div class="review-meta">
                                                    <h5 class="name">@review.UserName</h5>
                                                    <p class="name">Rating: @review.RatingPoint out of 5.00</p>
                                                    
                                                </div>
                                                <div class="review-text">

                                                    <p>@review.ReviewMessage</p>
                                                </div>
                                            </div>
                                        </li><!--  /.review    -->

                                    }
                                }


                            </ol><!-- /.review-list -->
                            <div class="comment-respond review-respond" id="respond">
                                <div class="comment-reply-title margin-bottom-14">
                                    <h5>Write a review</h5>
                                    <p>Your email address will not be published. Required fields are marked *</p>
                                </div>
                                <form id="commentform">
                                    <input type="hidden" name="ProductID" value="@Model.Product.ID" />
                                    <div class="form-group">
                                        <label>Rating point</label>
                                        <input name="RatingPoint" type="radio" value="1" checked />1
                                        <input name="RatingPoint" type="radio" value="2" />2
                                        <input name="RatingPoint" type="radio" value="3" />3
                                        <input name="RatingPoint" type="radio" value="4" />4
                                        <input name="RatingPoint" type="radio" value="5" />5
                                    </div>
                                    <p class="comment-name">
                                        <label>Name*</label>
                                        @{
                                            if (Model.User != null)
                                            {
                                                <input type="text" aria-required="true" size="30" value="@Model.User.FirstName @Model.User.LastName" name="UserName" id="name">
                                            }
                                            else
                                            {
                                                <input type="text" aria-required="true" size="30" @*value="@Model.User.FirstName @Model.User.LastName"*@ name="UserName" id="name">
                                            }
                                        }

                                    </p>

                                    <p class="comment-form-comment">
                                        <label>Review*</label>
                                        <textarea class="" tabindex="4" name="ReviewMessage" required> </textarea>
                                    </p>

                                    <p class="form-submit">
                                        <button id="submit" class="comment-submit">Submit</button>
                                    </p>
                                </form>
                            </div><!-- /.comment-respond -->
                        </div>
                    </div><!-- /.content-inner -->
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</section><!-- /.shop-detail-content -->
<section class="flat-row shop-related">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section margin-bottom-55">
                    <h2 class="title">Related Products</h2>
                </div>

                @{Html.RenderAction("Products", "Widgets", new { isLatestProducts = false, CategoryID = Model.Product.Category.ID });}

            </div>
        </div><!-- /.row -->
    </div>
</section>
}

<script type="text/javascript">

    var productUnit = document.getElementById("unit").value;
    //var quantityNumber = function () {
    productUnit = productUnit - 1;
    $('.quantity-button').on('click', function () {


        var numberValue = $(this).parent().find('.quantity-number').val();

        if ($(this).text() == "+") {
            //productUnit = productUnit - 1;
            if (productUnit > 0) {
                productUnit = productUnit - 1;
                var newVal = parseFloat(numberValue) + 1;
            }
            else {
                newVal = parseFloat(numberValue);
            }
        } else {

            if (numberValue > 0) {
                productUnit = productUnit + 1;
                var newVal = parseFloat(numberValue) - 1;
            } else {
                newVal = parseFloat(numberValue);
            }
        }

        $(this).parent().find('.quantity-number').val(newVal);
    });
    //};


    $("#submit").click(function () {

        $.ajax({
            type: 'POST',
            url: '/Product/ProductDetails',
            data: $("#commentform").serialize()

        })
            .done(function (response) {
                //$("#reviews").html(response);
                focusAction("reviews");
                swal("Review Created Successfully.", {
                    icon: "success",
                });
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });


    });
function drawMap() {
    var select = document.getElementById("productImg").value;
    var name = document.getElementById("productName").value;
    var Lat = document.getElementById("productLat").value;
    var Lng = document.getElementById("productLng").value;
    var img = {
        url: select, // url
        scaledSize: new google.maps.Size(55, 40), // scaled size
        origin: new google.maps.Point(0, 0), // origin
        anchor: new google.maps.Point(0, 0) // anchor
    };
    //alert(select);
    //var ll = 23.79804617762948;
    //var lg = 90.44958227960831;
    var uiu = new google.maps.LatLng(Lat, Lng);
    map = new google.maps.Map(document.getElementById('mapArea'), {
        center: uiu,
        zoom: 15,
        mapTypeId: 'hybrid'
    });

    var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
    var mk = new google.maps.Marker({
        position: uiu,
        map: map,
        //icon: image
    });

    var contentString = '<img src="' + select + '" height="50" width="75" />' + '<h4>' + name + '</h4>';
    var infowindow = new google.maps.InfoWindow({
        content: contentString,
        maxWidth: 200,
        maxWidth: 400
    });
    infowindow.open(map, mk);
    //     mk.addListener('click', function() {
    //  infowindow.open(map, mk);
    //});


}


</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyJcww05ydypEg66-bXbEKrRqZvsYFcYc&callback=drawMap"></script>


