@model E_Commerce.Web.ViewModels.HomeViewModel


@*@{

    foreach (var item in Model)
    {
        <li><a href="@Url.Action("Index","Shop",new { categoryID=item.ID})">@item.Name</a></li>

    }

}*@


<header id="header" class="header header-container clearfix">
    <div class="container clearfix" id="site-header-inner">
        <div id="logo" class="logo float-left">
            <a href="index.html" title="logo">
                <img src="~/Content/images/logo.png" alt="image" width="107" height="24" data-retina="" data-width="107" data-height="24">
            </a>
        </div><!-- /.logo -->
        <div class="mobile-button"><span></span></div>
        <ul class="menu-extra">
            <li class="box-search">
                <a class="icon_search header-search-icon" href="#"></a>
                <form role="search" method="get" class="header-search-form" action="@Url.Action("Index", "Shop")">
                    <input type="text" value="" name="s" class="header-search-field" placeholder="Search...">
                    <button type="submit" class="header-search-submit" title="Search">Search</button>
                </form>
            </li>

            <li class="box-cart nav-top-cart-wrapper">
                <a class="icon_cart nav-cart-trigger active" href="#"><span id="cartProductCount">0</span></a>
                <div class="nav-shop-cart">
                    <div class="widget_shopping_cart_content">
                        <div class="woocommerce-min-cart-wrap">
                            <ul class="woocommerce-mini-cart cart_list product_list_widget ">
                                <li class="woocommerce-mini-cart-item mini_cart_item">
                                    <a href="@Url.Action("Checkout", "Shop")">Checkout</a>
                                </li>
                            </ul>
                        </div><!-- /.widget_shopping_cart_content -->
                    </div>
                </div><!-- /.nav-shop-cart -->
            </li>


        </ul><!-- /.menu-extra -->
        <div class="nav-wrap">
            <nav id="mainnav" class="mainnav">
                <ul class="menu">
                    <li class="active">
                        <a href="@Url.Action("Index", "Home")">HOME</a>

                    </li>

                    @*<li><a href="@Url.Action("Index", "Category")">Category</a></li>
                        <li><a href="@Url.Action("Index", "Product")">Product</a></li>*@
                    @*<li><a href="@Url.Action("Index", "FoodandMedicine")">Food</a></li>*@



                    <li>
                        <a href="@Url.Action("Index", "Shop")">ALL CATEGORY</a>
                        <ul class="submenu">
                            @foreach (var item in Model.FeaturedCategories)
                            {
                            <li><a href="@Url.Action("Index","Shop",new { categoryID=item.ID})">@item.Name</a></li>

                            }

                        </ul>
                    </li>


                    <li><a href="@Url.Action("ProductOnMap", "Product")">PRODUCT MAP</a></li>
                    <li><a href="@Url.Action("UserIndex", "FoodandMedicine")">FOOD & MEDICINE</a></li>
                    <li><a href="@Url.Action("Checkout", "Shop")">CHECKOUT</a></li>
                    <li>
                        <a href="#">CONTACT</a>
                        <ul class="submenu right-submenu">
                            @*<li><a href="contact.html">Contact Style 1</a></li>
                                <li><a href="contact-v2.html">Contact Style 2</a></li>*@
                        </ul>
                    </li>
                </ul>
            </nav><!-- /.mainnav -->
        </div><!-- /.nav-wrap -->
    </div><!-- /.container-fluid -->
</header><!-- /header -->