@model E_Commerce.Web.ViewModels.OrderViewModel

@{
    ViewBag.Title = "Index";
}

<link href="~/Content/DataTables/DataTables-1.10.18/css/jquery.dataTables.css" rel="stylesheet" />
<script src="~/Content/DataTables/DataTables-1.10.18/js/jquery.dataTables.js"></script>
<script src="~/Content/DataTables/DataTables-1.10.18/js/Bootstrap-3-Typeahead.js"></script>


<section class="flat-row flat-iconbox">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section">
                    <h2 class="title">
                        Orders
                    </h2>
                </div>
            </div>
        </div>


        <section class="flat-row shop-detail-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="flat-tabs style-1 has-border">
                            <div class="inner">
                                <ul class="menu-tab">
                                    <li class="active">All Orders</li>
                                    <li>Pending</li>
                                    <li>In Progress</li>
                                    <li >Delivered</li>
                                </ul>
                                <div class="content-tab">

                                    <div class="content-inner">
                                        @*AllOrders*@
                                        <div class="flat-grid-box col2 border-width border-width-1 has-padding clearfix">
                                            <div id="tableContiner">
                                                @if (Model.AllOrders != null && Model.AllOrders.Count > 0)
                                                {

                                                    <table id="AllOrdersTable" class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>User Email</th>
                                                                <th>Total Price</th>
                                                                <th>Status</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            @foreach (var order in Model.AllOrders)
                                                            {
                                                                <tr>
                                                                    <td>@order.UserName</td>
                                                                    <td>
                                                                        @order.TotalAmount
                                                                    </td>
                                                                    <td>@order.Status</td>
                                                                    <td class="wrap-td">
                                                                        <a class="detailBtn" data-id="@order.ID" href="@Url.Action("Details", "Order", new { ID = order.ID })">Details</a>
                                                                    </td>
                                                                </tr>

                                                            }

                                                        </tbody>
                                                    </table>
                                                }
                                                else
                                                {
                                                    <section class="flat-row flat-error">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="wrap-error text-center">

                                                                        <div class="content-error">
                                                                            <h2>No data found</h2>

                                                                        </div>
                                                                    </div><!-- /.wrap-error -->
                                                                </div><!-- /.col-md-12 -->
                                                            </div><!-- /.row -->
                                                        </div><!-- /.container -->
                                                    </section><!-- /.flat-row -->
                                                }
                                            </div>
                                        </div><!-- /.flat-grid-box -->
                                    </div><!-- /.content-inner -->


                                    <div class="content-inner">
                                        @*Pending*@
                                        <div class="flat-grid-box col2 border-width border-width-1 has-padding clearfix">
                                            <div id="tableContiner">
                                                @if (Model.PendingOrders != null && Model.PendingOrders.Count > 0)
                                                {
                                                    <table id="PendingOrdersTable" class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>User Email</th>
                                                                <th>Total Price</th>
                                                                <th>Status</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>


                                                            @foreach (var order in Model.PendingOrders)
                                                            {
                                                                <tr>
                                                                    <td>@order.UserName</td>
                                                                    <td>
                                                                        @order.TotalAmount
                                                                    </td>
                                                                    <td>@order.Status</td>
                                                                    <td class="wrap-td">
                                                                        <a class="detailBtn" data-id="@order.ID" href="@Url.Action("Details", "Order", new { ID = order.ID })">Details</a>
                                                                    </td>
                                                                </tr>

                                                            }

                                                        </tbody>
                                                    </table>
                                                }
                                                else
                                                {
                                                    <section class="flat-row flat-error">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="wrap-error text-center">
                                                                       
                                                                        <div class="content-error">
                                                                            <h2>No data found</h2>
                                                                           
                                                                        </div>
                                                                    </div><!-- /.wrap-error -->
                                                                </div><!-- /.col-md-12 -->
                                                            </div><!-- /.row -->
                                                        </div><!-- /.container -->
                                                    </section><!-- /.flat-row -->
                                                }
                                            </div>
                                        </div><!-- /.flat-grid-box -->
                                    </div><!-- /.content-inner -->

                                    <div class="content-inner">
                                        @*In Progress*@
                                        <div class="flat-grid-box col2 border-width border-width-1 has-padding clearfix">
                                            <div id="tableContiner">
                                                @if (Model.InProgressOrders != null && Model.InProgressOrders.Count > 0)
                                                {
                                                    <table id="InProgressOrdersTable" class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>User Email</th>
                                                                <th>Total Price</th>
                                                                <th>Status</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>


                                                            @foreach (var order in Model.InProgressOrders)
                                                            {
                                                                <tr>
                                                                    <td>@order.UserName</td>
                                                                    <td>
                                                                        @order.TotalAmount
                                                                    </td>
                                                                    <td>@order.Status</td>
                                                                    <td class="wrap-td">
                                                                        <a class="detailBtn" data-id="@order.ID" href="@Url.Action("Details", "Order", new { ID = order.ID })">Details</a>
                                                                    </td>
                                                                </tr>

                                                            }

                                                        </tbody>
                                                    </table>
                                                }
                                                else
                                                {
                                                    <section class="flat-row flat-error">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="wrap-error text-center">

                                                                        <div class="content-error">
                                                                            <h2>No data found</h2>

                                                                        </div>
                                                                    </div><!-- /.wrap-error -->
                                                                </div><!-- /.col-md-12 -->
                                                            </div><!-- /.row -->
                                                        </div><!-- /.container -->
                                                    </section><!-- /.flat-row -->
                                                }
                                            </div>
                                        </div><!-- /.flat-grid-box -->
                                    </div><!-- /.content-inner -->



                                    <div class="content-inner">
                                        @*Delivered*@
                                        <div class="flat-grid-box col2 border-width border-width-1 has-padding clearfix">
                                            <div id="tableContiner">
                                                @if (Model.DeliveredOrders != null && Model.DeliveredOrders.Count > 0)
                                                {
                                                    <table id="DeliveredOrdersTable" class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>User Email</th>
                                                                <th>Total Price</th>
                                                                <th>Status</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>


                                                            @foreach (var order in Model.DeliveredOrders)
                                                            {
                                                                <tr>
                                                                    <td>@order.UserName</td>
                                                                    <td>
                                                                        @order.TotalAmount
                                                                    </td>
                                                                    <td>@order.Status</td>
                                                                    <td class="wrap-td">
                                                                        <a class="detailBtn" data-id="@order.ID" href="@Url.Action("Details", "Order", new { ID = order.ID })">Details</a>
                                                                    </td>
                                                                </tr>

                                                            }

                                                        </tbody>
                                                    </table>
                                                }
                                                else
                                                {
                                                    <section class="flat-row flat-error">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="wrap-error text-center">

                                                                        <div class="content-error">
                                                                            <h2>No data found</h2>

                                                                        </div>
                                                                    </div><!-- /.wrap-error -->
                                                                </div><!-- /.col-md-12 -->
                                                            </div><!-- /.row -->
                                                        </div><!-- /.container -->
                                                    </section><!-- /.flat-row -->
                                                }
                                            </div>
                                        </div><!-- /.flat-grid-box -->
                                    </div><!-- /.content-inner -->
                                    @*<div class="content-inner">

            <div class="inner max-width-40">
                <p>hi</p>
            </div>
        </div><!-- /.content-inner -->

        <div id="reviews" class="content-inner">

            <div class="inner max-width-83 padding-top-33">
                <p>hio</p>
            </div>
        </div><!-- /.content-inner -->*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- /.shop-detail-content -->
        <hr />
    </div>
</section>



<script>

    //PendingOrdersTable InProgressOrdersTable  DeliveredOrdersTable

    $(document).ready(function() {
       var dataSrc = [];

        $('#AllOrdersTable').DataTable({
          'initComplete': function(){
             var api = this.api();

             // Populate a dataset for autocomplete functionality
             // using data from first, second and third columns // api.cells('tr', [0, 1, 2])
             api.cells('tr', [0]).every(function(){
                // Get cell data as plain text
                var data = $('<div>').html(this.data()).text();           
                if(dataSrc.indexOf(data) === -1){ dataSrc.push(data); }
             });
         
             // Sort dataset alphabetically
             dataSrc.sort();
        
             // Initialize Typeahead plug-in
             $('.dataTables_filter input[type="search"]', api.table().container())
                .typeahead({
                   source: dataSrc,
                   afterSelect: function(value){
                      api.search(value).draw();
                   }
                }
             );
          }
       });

    });


    var dataSrc = [];
    $('#PendingOrdersTable').DataTable({
          'initComplete': function(){
             var api = this.api();

             // Populate a dataset for autocomplete functionality
             // using data from first, second and third columns // api.cells('tr', [0, 1, 2])
             api.cells('tr', [0]).every(function(){
                // Get cell data as plain text
                var data = $('<div>').html(this.data()).text();           
                if(dataSrc.indexOf(data) === -1){ dataSrc.push(data); }
             });
         
             // Sort dataset alphabetically
             dataSrc.sort();
        
             // Initialize Typeahead plug-in
             $('.dataTables_filter input[type="search"]', api.table().container())
                .typeahead({
                   source: dataSrc,
                   afterSelect: function(value){
                      api.search(value).draw();
                   }
                }
             );
          }
    });

     var dataSrc = [];
    $('#InProgressOrdersTable').DataTable({
          'initComplete': function(){
             var api = this.api();

             // Populate a dataset for autocomplete functionality
             // using data from first, second and third columns // api.cells('tr', [0, 1, 2])
             api.cells('tr', [0]).every(function(){
                // Get cell data as plain text
                var data = $('<div>').html(this.data()).text();           
                if(dataSrc.indexOf(data) === -1){ dataSrc.push(data); }
             });
         
             // Sort dataset alphabetically
             dataSrc.sort();
        
             // Initialize Typeahead plug-in
             $('.dataTables_filter input[type="search"]', api.table().container())
                .typeahead({
                   source: dataSrc,
                   afterSelect: function(value){
                      api.search(value).draw();
                   }
                }
             );
          }
    });

     var dataSrc = [];
    $('#DeliveredOrdersTable').DataTable({
          'initComplete': function(){
             var api = this.api();

             // Populate a dataset for autocomplete functionality
             // using data from first, second and third columns // api.cells('tr', [0, 1, 2])
             api.cells('tr', [0]).every(function(){
                // Get cell data as plain text
                var data = $('<div>').html(this.data()).text();           
                if(dataSrc.indexOf(data) === -1){ dataSrc.push(data); }
             });
         
             // Sort dataset alphabetically
             dataSrc.sort();
        
             // Initialize Typeahead plug-in
             $('.dataTables_filter input[type="search"]', api.table().container())
                .typeahead({
                   source: dataSrc,
                   afterSelect: function(value){
                      api.search(value).draw();
                   }
                }
             );
          }
    });
     var dataSrc = [];

    function focusAction(controlToFocus) {
        $('html, body').animate({
            scrollTop: $("#" + controlToFocus).offset().top - 100
        }, 1000);
    }
</script>

