@model E_Commerce.Web.ViewModels.EditFoodandMedicinesViewModel

<form id="editFood">
    <div class="row">
        <div class="col-md-8">
            <input type="hidden" name="ID" id="ID" value="@Model.ID" />

            <div class="form-group">
                <label>Month</label>
                <input class="form-control" name="Month" id="Month" value="@Model.Month" />
            </div>
            <div class="form-group">
                <label>MinWeight</label>
                <input class="form-control" name="MinWeight" id="MinWeight" value="@Model.MinWeight" />
            </div>
            <div class="form-group">
                <label>MaxWeight</label>
                <input class="form-control" name="MaxWeight" id="MaxWeight" value="@Model.MaxWeight" />
            </div>
           
            <div class="form-group">
                <label>Food</label>
                <textarea class="form-control" name="Food" id="Food" >@Model.Food</textarea>
            </div>
            <div class="form-group">
                <label>Medicine</label>
                <textarea class="form-control" name="Medicine" id="Medicine" >@Model.Medicine</textarea>
            </div>

        </div>

    </div>

    <button type="button" class="btn btn-primary" id="updateBtn">Update</button>
    <button type="button" class="btn btn-danger" id="cancelBtn">Cancel</button>


</form>

<script>


    $("#updateBtn").click(function () {

        $.ajax({
            type: 'POST',
            url: '/FoodandMedicine/Edit',
            data: $("#editFood").serialize()
        })
            .done(function (response) {
                $("#tableContainer").html(response);
                $("#actionContainer").html("");

                swal("Record updated Successfully.", {
                                icon: "success",
                            });
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });


    });

    $("#cancelBtn").click(function () {
        $("#actionContainer").html("");
         focusAction("tableContainer");
    });
</script>
